body {
  background: #eddd !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#nav {
  transition: transform 0.15s ease-in-out;
}

.bg-indigo-700,
.bg-indigo-700,
.bg-gray-800,
.bg-gray-900,
.bg-gray-200 {
  transition: background-color 0.5s ease-out;
}
